## ------- Import necessary libraries ----------

In [4]:
import sys
import nltk
import sklearn
import pandas as pd
import numpy as np

### ------------- Load Dataset ---------------

In [6]:
Dataset = pd.read_table("smsspamcollection/SMSSpamCollection", header= None, encoding='utf-8')

In [7]:
Dataset.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5572 non-null   object
 1   1       5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [11]:
## Class distribution i.e. number of spam and ham
Dataset[0].value_counts()

ham     4825
spam     747
Name: 0, dtype: int64

### Observation:
- Clear unbalanced dataset.

## --------- Preprocessing Data ----------------

In [15]:
# convert class value as binary value i.e. 0 to ham and 1 to spam
# using sklearn encoding
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
Classes = encoder.fit_transform(Dataset[0])

In [18]:
print(Classes)
print(Dataset[0])

[0 0 1 ... 0 0 0]
0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: 0, Length: 5572, dtype: object

In [21]:
## store SMS messages
Text_Messages = Dataset[1]
print(Text_Messages[:10])

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
5    FreeMsg Hey there darling it's been 3 week's n...
6    Even my brother is not like to speak with me. ...
7    As per your request 'Melle Melle (Oru Minnamin...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
Name: 1, dtype: object

## --------- Perform regular expression ----------
- Help to remove clutter.
- Eg. email address with email , url as website